<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{park?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class]="park.code">
  <ion-grid>
    <ion-row>
      @for (clue of clues; track $index) {
      <ion-col size="6">
        <div class="polaroid">
          <a
            [routerLink]="[ '/clue', park.code, clue.filename ]"
            routerDirection="forward"
          >
            <img [src]="clueService.urlFromClue(clue)" class="polaroid" />
            <p>
              <span *ngIf="clue.isFound"
                >Found {{clue.dateFound | date: 'mediumDate' }}</span
              >
            </p>
          </a>
        </div>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-title>Found: {{foundClues().length}} of {{clues.length}}</ion-title>
  </ion-toolbar>
</ion-footer> -->
