<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Games in Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item-sliding *ngFor="let game of games">
      <ion-item (click)="playGame(game)">
        <ion-thumbnail item-start>
          <img [src]="parkImage(game)" />
        </ion-thumbnail>
        <ion-label>{{parkName(game)}}</ion-label>
        <ion-label>Clues Found: {{game.foundClues}} of {{totalClues(game)}}</ion-label>
        <ion-label>Last Played: {{game.lastPlayed | date : "short"}}</ion-label>
        <ion-button file="clear" slot="end" (click)="playGame(game)">Play</ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)=deleteGame(game)>
          <ion-icon name="home"></ion-icon>
          Delete
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-card *ngFor="let game of games">
    <!-- <div class="park" [ngClass]="game.park"></div> -->
    <ion-card-header>
      <ion-card-title>
        <ion-thumbnail class="cover" [ngClass]="game.park"></ion-thumbnail>
        {{parkName(game)}}
      </ion-card-title>
      <ion-card-subtitle>
        Last Played: {{game.lastPlayed | date : "short"}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-toolbar>
          Clues Found: {{game.foundClues}} of {{totalClues(game)}}
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="deleteGame(game)">Delete</ion-button>
          <ion-button color="primary" [routerLink]="['/park/', game.id]" routerDirection="forward">
            Play
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="noGames()">
    <ion-card-title>
      <h1 text-center>You have no games in progress.</h1>
    </ion-card-title>
    <ion-card-subtitle>
      <h1 text-center>Start one now?</h1>
    </ion-card-subtitle>
    <ion-card-content>
      <ion-button expand="block" [routerLink]="['/new-game']" routerDirection="forward">
        Go
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>