ion-card {
  --background: #ffffff;
}

ion-content {
  --background: #ffffff;
}

.park {
  height: 200px;
  background-size: cover;
}

.cover {
  background-size: cover;
}

.ec {
  background-image: url(/assets/images/ec.jpg);
}

.mk {
  background-image: url(/assets/images/mk.jpg);
}

.st {
  background-image: url(/assets/images/st.jpg);
}

.ak {
  background-image: url(/assets/images/ak.jpg);
}
