<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="end" *ngIf="!clue.isFound">
      <ion-button fill="clear" (click)="action()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class]="parkCode" padding>
  <div class="container">
    <div class="card" [class.flipped]="isFlipped">
      <figure class="front">
        <img [src]="clueService.urlFromClue(clue)" (click)="hint()" (load)="loaded($event)">
        <p>
          <span *ngIf="clue.isFound">Found {{clue.dateFound | date: 'mediumDate' }}</span>
        </p>
      </figure>
      <figure class="back" (click)="hint()">
        <h3 *ngIf="isLocated">{{hintText()}}</h3>
        <h3 *ngIf="!isLocated">{{geoLocationWarning()}}</h3>
        <p>
          <ion-button *ngIf="!clue.isFound" (click)="geoCheck()" color="dark" round>Found It</ion-button>
        </p>
      </figure>
    </div>
  </div>

  <p class="hint" *ngIf="!isCordova">
    Location: {{myLoc.latitude}} {{myLoc.longitude}}
    <br /> Clue Location: {{gps.latitude}} {{gps.longitude}}
    <br /> Bearing: {{compassHeading()}}
    <br /> {{distance() | number:'1.0-0'}} meters
  </p>

</ion-content>