<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instructions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h1>What is it?</h1>
      <p>
        Park Pursuit is a visual scavenger hunt. The game is designed to allow
        scavenger hunts to be created anywhere in the world. However, living in
        Central Florida, the Disney Theme Parks seemed to be the natural place
        to start. This version contains 35 clues taken from Disney's Animal
        Kingdom Park, with more parks to follow shortly.
      </p>
      <h1>Getting Started</h1>
      <p>
        To start a hunt, select an available park, and then you will be
        presented with a series of images. Each image is a clue to a landmark
        somewhere within that park.
      </p>
      <h1>Hints</h1>
      If you need a hint, tap the "Hint" link (or the ? icon), and the app will
      tell you the rough compass direction you should seek, along with a snarky
      comment about your distance from it.
      <p></p>
      <h1>Finding Clues</h1>
      <p>
        When you think you have found the landmark, tap the "Found It" link (or
        the eye icon). The app will compare your current location to the
        location embedded in the clue itself. You must be within 25 meters of
        the clue's location to consider it "found." Once found, that image will
        be marked as found and updated in the list of clues.
      </p>
      <h1>More Info</h1>
      There is no limit to the number of clues or parks you can seek
      simultaneously. Your progress is saved automatically.
      <p></p>
      <h1>Future Enhancements</h1>
      We intend to add more parks (and not just Disney Parks) to the mix, along
      with the ability for players to submit their own parks and clues. Watch
      for application updates.
      <p></p>
      <h1>Trademarks</h1>
      <p>
        Disney, Magic Kingdom, Epcot, Animal Kingdom, and Hollywood Studios are
        registered trademarks of the The Walt Disney Company, and are used
        herein only for descriptive purposes. They are not intended to imply any
        relationship, connection, authorization, or approval from the The Walt
        Disney Company. All photographs and images used in the app are either in
        the public domain, released under a Creative Commons license, or taken
        by private citizens and are used with permission.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
