<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Park Pursuit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let park of parks" size="6">
        <div class="polaroid">
          <a [routerLink]="[ '/park', park.code ]" routerDirection="forward">
            <img [src]="park.imgSrc">
            <p>
              {{park.name}}
            </p>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>